<!DOCTYPE html>
<html lang="he" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>住驻 - 转 转 专爪</title>
    <link rel="stylesheet" href="/petshop.css">
    <style>
        #map {
            height: 400px;
            width: 100%;
        }
    </style>
</head>
<body>
    <section id="header">
        <a href="#"><img src="/images/petlogo2.png" class="logo" alt="" width="75px"></a>
    
        <div class="search-bar">
            <button type="submit"></button>
            <input type="text" placeholder="...驻砖">
        </div>
    
        <div>
            <ul id="navbar">
                <li><a href="/" class="<%= currentPage === 'home' ? 'active' : '' %>">转</a></li>
                <li><a href="/products/cats" class="<%= currentPage === 'cats' ? 'active' : '' %>">转</a></li>
                <li><a href="/products/dogs" class="<%= currentPage === 'dogs' ? 'active' : '' %>"></a></li>
                <li><a href="/products/rodents" class="<%= currentPage === 'rodents' ? 'active' : '' %>">专住</a></li>
                <li><a href="/products/birds" class="<%= currentPage === 'birds' ? 'active' : '' %>">爪驻专</a></li>
                <li><a href="/products/fish" class="<%= currentPage === 'fish' ? 'active' : '' %>"></a></li>
                <li><a href="/branches" class="<%= currentPage === 'branches' ? 'active' : '' %>">住驻</a></li>
                <li><a href="/user" class="<%= currentPage === 'user' ? 'active' : '' %>">专 砖</a></li>
                <li><a href="/cart"><img src="/images/bag.png" width="20px"></a></li>
            </ul>
        </div>
      </section>
    <h1>住驻 砖</h1>
    <div id="map"></div>

    <script type="text/javascript">
        var branchesData = JSON.parse('<%- JSON.stringify(branches) %>');
    </script>

    <script>
        function initMap() {
            const map = new google.maps.Map(document.getElementById('map'), {
                zoom: 8,
                center: { lat: 31.9522, lng: 34.7793 } // Centered on Israel
            });

            branchesData.forEach(branch => {
                const marker = new google.maps.Marker({
                    position: { lat: branch.lat, lng: branch.lng },
                    map: map,
                    title: branch.name
                });

                const googleMapsUrl = `https://www.google.com/maps/dir/?api=1&destination=${branch.lat},${branch.lng}`;
                const infoWindow = new google.maps.InfoWindow({
                    content: `
                        <div>
                            <strong>${branch.name}</strong><br>
                            ${branch.address}<br>
                            <a href="${googleMapsUrl}" target="_blank" style="display: inline-block; margin-top: 10px; padding: 5px 10px; background-color: #4285F4; color: white; text-decoration: none; border-radius: 3px;">爪  驻转</a>
                        </div>
                    `
                });

                marker.addListener('click', () => {
                    infoWindow.open(map, marker);
                });
            });
        }
    </script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=<%= googleMapsApiKey %>&callback=initMap"></script>
    <footer class="section-p1">
        <div class="col">
            <h4>转转</h4>
            <p>拽专爪 12 专转 </p>
            <p> 专 5 专爪</p>
            <p>驻专 18 砖拽</p>
            <p>专专 72 转 </p>
        </div>

        <div class="col">
            <h4>砖注转 驻注转</h4>
            <p> '-': 8:00-21:00</p>
            <p> ' 砖转: 住专</p>

        </div>

        <div class="col">
            <h4>爪专 拽砖专</h4>
            <p>驻: 075-222-0100</p>
            <p>驻拽住: 09-9560-101</p>
            <p>": petshop@email.com</p>
        </div>

        <div class="col">
            <h4>注 砖砖</h4>
            <a href="#">转</a>
            <a href="#">转拽</a>
            <a href="#">转 砖</a>
            <a href="#">爪专转 砖转</a>
            <a href="#">爪专 拽砖专</a>
        </div>

        <div class="col">
            <h4>砖 砖</h4>
            <a href="#">转专</a>
            <a href="#">注转 拽转</a>
            <a href="#">注拽 专 砖</a>
            <a href="#">注专</a>
        </div>
        
        <div class="col">
            <h4>注拽 专</h4>
            <div class="icon">
                <i class="fab fa-facebook-f"></i>
                <i class="fab fa-twitter"></i>
                <i class="fab fa-instagram"></i>
            </div>
        </div>   

    </footer>

    <div class="copyright">
        <p> 转 砖专转 - 转 转 专爪 @</p>
    </div>


</body>
</html>
